<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="T12206M1 Team 3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShoppingCart</title>

    <link rel="apple-touch-icon" href="~/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/ic_a.png">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/templatemo.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">

    @await RenderSectionAsync("SlidersCss", required: false)
    @await RenderSectionAsync("Css", required: false)


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineShoppingCart.styles.css" asp-append-version="true" />
</head>

<body>
    @{
        ViewData["EmailShop"] = "onlineshoppingcart.arts@gmail.com";
        ViewData["PhoneShop"] = "+84 898313863";
    }
    <partial name="PartialsLayout/_Header" />
    <main role="main">
        @RenderBody()
    </main>
    <partial name="PartialsLayout/_Footer" />

    <script src="~/assets/js/jquery-1.11.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/assets/js/templatemo.js"></script> *@
    <script src="~/assets/js/custom.js"></script>
    @await RenderSectionAsync("Sliders", required: false)

    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <partial name="_Toastr" />

    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            //add-cart
            $('.add-to-cart').click(function (e) {
                e.preventDefault();
                let pid = $(this).data("id") ?? '';
                let quantity = $('#product_quantity_' + pid).val() ?? 1;
                let data = {
                    id: pid,
                    quantity: quantity
                };
                postAjax(data);
            });
            function postAjax(data) {
                $.ajax({
                    type: "POST",
                    url: "/add-cart",
                    data: data,
                    success: function (result) {
                        $("#count_cart").html(result.count)
                        toastr["success"]("Success", "Added successfully");
                        window.location.href = "@Url.RouteUrl("cart")";
                    },
                    error: function (e) {
                        console.log(e);
                        toastr["error"]("Error", e);
                    }
                });
            }

            //check voucher
            $("#check_voucher").on("click", function (e) {
                e.preventDefault();
                let code = $("#code").val().trim().toUpperCase();
                $.ajax({
                    type: "POST",
                    url: "@Url.RouteUrl("checkvoucher")",
                    data: {
                        code: code,
                    },
                    success: function (result) {
                        if (result.code) {
                            let discount = Number.parseFloat(result.discount);
                            let total = Number.parseFloat(result.value);
                            $('#discount').html(discount);
                            $('#total').html(total);
                        }
                        if (result.error) {
                            toastr["error"]("Error", result.error);
                        }
                    }
                })
            })


        });
    </script>
</body>

</html>
