@using Microsoft.AspNetCore.Identity
@using OnlineShoppingCart.Data.Entities

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<!-- Avatar -->
<div class="nav-item dropdown">
    <a class="nav-icon position-relative text-decoration-none" data-toggle="dropdown" href="#"
        title="Hello @UserManager.GetUserName(User)">
        @if (UserManager.GetUserName(User) == null)
        {
            <i class="fa fa-fw fa-user text-dark mr-3"></i>
        }
        else
        {
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25"
                alt="Black and White Portrait of a Man" loading="lazy" />
        }
    </a>

    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
        @if (SignInManager.IsSignedIn(User))
        @* @if (true) *@
        {
            <a id="manage" class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"
                title="Manage">
                <i class="fas fa-users mr-2"></i>
                <span class="float-end text-muted text-sm">Profile</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="fas fa-envelope mr-2"></i>
                <span class="float-end text-muted text-sm">Settings</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <span class="float-end text-muted text-sm">
                    Logout
                </span>
            </a>
        }
        else
        {
            <a class="dropdown-item text-dark" id="register" asp-area="Identity" asp- page="/Account/Register">Register</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        }
    </div>
</div>
