@using Microsoft.AspNetCore.Identity
@using OnlineShoppingCart.Data.Entities

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@{
    var userLogin = await UserManager.GetUserAsync(User);
    var avatar = (userLogin != null && userLogin.Avatar != null) ? userLogin.Avatar : null;
}


<!-- Avatar -->
<div class="nav-item dropdown">
    <a class="nav-icon position-relative text-decoration-none" data-toggle="dropdown" href="#"
        title="Hello @UserManager.GetUserName(User)">
        @if ((SignInManager.IsSignedIn(User)) && (avatar != null))
        {
            <img src="~/assets/img/@avatar" alt="@UserManager.GetUserName(User)" class="rounded-circle" height="50"
                width="50" loading="lazy" />
        }
        else
        {
            <i class="fa fa-fw fa-user text-dark mr-3"></i>
        }
    </a>

    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
        @if (SignInManager.IsSignedIn(User))
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <a id="manage" class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"
                    title="Manage">
                    <i class="fas fa-user mr-2"></i>
                    <span class="float-end text-dark text-sm">Profile</span>
                </a>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="submit">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    <span class="float-end text-dark text-sm">
                        Logout
                    </span>
                </button>
            </form>
            @* @if (User.IsInRole("admin") || User.IsInRole("employee")) *@
            @if (true)
            {
                <div class="dropdown-divider"></div>
                <div class="dropdown-footer">
                    <a asp-area="Dashboard" asp-controller="Dashboard" asp-action="Index" class="dropdown-item-text">
                        <i class="fas fa-tachometer-alt"></i>
                        <strong class="float-end text-dark text-sm">Dashboard</strong>
                    </a>
                </div>
            }
        }
        else
        {
            <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        }
    </div>
</div>
