@using OnlineShoppingCart.Models.DTOs;
@model ProductDto;


<div class="col-12 mb-4 mx-auto">
    <hr />
    <div class="row d-flex">
        <a class="col-12 col-md-3" asp-action="ShopSingle" asp-controller="Home" asp-route-id="">
            <img src="~/assets/img/product_velvet-finish-notebook-a5.webp" class="card-img-top"
                style="width:100%;height:100%;" alt="img-product">
        </a>
        <div class="col-12 col-md-9">
            <a asp-action="ShopSingle" asp-controller="Home" asp-route-id=""
                class="h2 text-decoration-none text-dark">Product</a>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia
                deserunt.
            </p>
            <p class="text-muted">Reviews (24)</p>
            <ul class="list-unstyled d-flex justify-content-between row">
                <li>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                </li>
                <li class="text-success">$240.00</li>
                <li class="text-danger">$20.00</li>
            </ul>
        </div>
    </div>
</div>