<div class="nav-item dropdown">
    <!-- Messages Dropdown Menu -->
    <a class="nav-icon position-relative text-decoration-none" data-toggle="dropdown" href="#">
        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
        <span class="badge badge-danger navbar-badge">3</span>
        @await Html.PartialAsync("PartialsLayout/_CartCountItem")
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-lg-end">
        <div class="cart">
            @for (var i = 0; i < 5; i++)
            {
                <!-- CartItem Start -->
                <div class="dropdown-item-text" style="max-width: 450px;">
                    <div class="d-flex justify-content-around">
                        <span class="col-3">
                            <img src="~/assets/img/feature_prod_03.jpg" alt="cartItem"
                                style="max-width: 100%;height:100%;">
                        </span>
                        <span class="col-8 px-3">
                            <a asp-action="ShopSingle" class="cart-name-product text-decoration-none"
                                title="Product name The utility API is a Sass-based tool to generate utility classes">
                                Product name The utility API is a Sass-based tool to generate utility classes.
                            </a>
                            <div class="col-12">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                    </li>
                                    <li class="list-inline-item"><span class="btn btn-sm btn-success"
                                            id="btn-minus">-</span></li>
                                    <li class="list-inline-item"><span class="btn bg-secondary text-light"
                                            id="var-value">1</span>
                                    </li>
                                    <li class="list-inline-item"><span class="btn btn-sm btn-success" id="btn-plus">+</span>
                                    </li>
                                </ul>
                                <span class="text-sm text-muted d-inline">Unit price: $ 400.00</span>
                            </div>
                        </span>
                        <span class="float-right text-danger">
                            <button type="button" class="btn-sm btn-close btn-outline-danger" aria-label="Close"></button>
                        </span>

                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <!-- CartItem End -->
            }
        </div>
        <div class="dropdown-footer text-center">
            <div class="row m-3">
                <strong class="col-sm-6">Total:</strong>
                <strong class="col-sm-6 border-bottom text-center">$2,697.80</strong>
            </div>
            <div class="text-center">
                <a href="#" class="btn btn-success text-light">Check out</a>
            </div>
        </div>
    </div>
</div>
