<!-- Start Top Nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top"
    aria-label="menu-top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none"
                    href="mailto:info@company.com">@ViewData["EmailShop"]</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none"
                    href="tel:@ViewData["PhoneShop"]">@ViewData["PhoneShop"]</a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Top Nav -->
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow" aria-label="hiding">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" asp-action="Index">
            Arts
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
            id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto navigation">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="ContactManage" asp-controller="Contact"
                            asp-action="SendContact">Contact</a>
                    </li>
                    <!-- Navbar Search -->
                    <li class="nav-item">
                        <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                            <form class="input-group" asp-action="Shop" asp-controller="Home" method="get">
                                <input type="text" class="form-control" name="id" id="inputSearchMobile"
                                    placeholder="Search ...">
                                <button type="submit" class="input-group-text btnSearchMobile">
                                    <i class="fa fa-fw fa-search"></i>
                                </button>
                                <div class="tt-menu tt-open"
                                    style="position: absolute; top: 100%; left: 0px; z-index: 100; display: block;">
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center justify-content-between d-flex px-2 ml-auto">
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal"
                    data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
                @await Html.PartialAsync("PartialsLayout/_CartPartial")
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>

    </div>
</nav>
<!-- Close Header -->
<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
        </div>
        <div class="modal-header">
            <h4 class="modal-title">Search</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="modal-content modal-body border-0 p-0" asp-action="Shop" asp-controller="Home" method="get">
            <input type="text" class="form-control mt-3" name="id" id="inputSearch" placeholder="Search ...">
            <button type="submit" class="btnSearch"><i class="fa-solid fa-magnifying-glass"></i></button>
            <div class="tt-menu tt-open"
                style="position: absolute; top: 100%; left: 0px; z-index: 100; display: block;">
            </div>
        </form>
    </div>
</div>
