@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}
<section class="container py-5">

    <h1>Manage your account</h1>

    <div>
        <hr />
        <div class="row">
            <aside class="col-md-3 mb-3">
                <div class="sidebar-sticky">
                    <partial name="_ManageNav" />
                </div>
            </aside>
            <article class="col-md-9 mb-3">
                @RenderBody()
            </article>
        </div>
    </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
