@{
    ViewData["Title"] = "Payment Success";
    var paymentId = ViewData["paymentId"] as string;
    var token = ViewData["token"] as string;
    var payerID = ViewData["PayerId"] as string;
}


<section class="container py-5">
    <div class="card">
        <div class="card-header">
            <h3 class="text-success">Thanks for making payment</h3>
        </div>
        <div class="card-body text-center">
            <p><strong>Your transaction is successful.</strong></p>
            <hr />
            @if (!string.IsNullOrEmpty(paymentId))
            {
                <p>T ID: @paymentId</p>
            }
            @if (!string.IsNullOrEmpty(token))
            {
                <p>Token ID: @token</p>
            }
            @if (!string.IsNullOrEmpty(payerID))
            {
                <p>Payer ID: @payerID</p>
            }
            <div class="card-footer"><a href="/Home/Index" class="btn btn-primary"><i class="fa fa-home"></i>&nbsp;Back
                    to Home page</a></div>
        </div>
    </div>
</section>