@model IEnumerable<OnlineShoppingCart.Models.DTOs.ProductDto>;

@using AutoMapper;
@using OnlineShoppingCart.Core.UnitOfWork;
@using ProductDto = OnlineShoppingCart.Models.DTOs.ProductDto;
@using CategoryDto = OnlineShoppingCart.Models.DTOs.CategoryDto;

@inject IUnitOfWork UnitOfWork;
@inject IMapper Mapper;

@{
    ViewData["Title"] = "Home Page";

    var categories = await UnitOfWork.Categories.GetAll("Parent,Children");
    var categoriesAll = Mapper.Map<List<CategoryDto>>(categories).Where(x => x.ParentId == null).Take(4);

    var products = await UnitOfWork.Products.GetAll("Inventories,Images");
    var productsAll = Mapper.Map<List<ProductDto>>(products);


    //Save Off
    var productSaveOff = productsAll.OrderByDescending(x => x.Promotion).Take(4);

    //Best Seller
    var sumProduct = productsAll.Where(p => p.OrderDetails!.Select(x => x.Quantity).Sum() > 0);
    var productBestSeller = sumProduct.OrderByDescending(x => x.Quantity).Take(8);

    //Featured
    var productFeatured = productsAll.OrderByDescending(x => x.CreateAt).Take(8);
}

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/assets/img/category_01_notebook.webp" alt="banner-img">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success">Plain</h1>
                            <h3 class="h2">Online shopping Cart</h3>
                            <p>
                                A playground for your thoughts and a blank canvas for your imagination, let your mind
                                run
                                amok amidst the pristine pages of these notebooks.
                            </p>
                            <p>
                                Beyond the spotless sheets lie the gateway to your musings, a world of potential waiting
                                to be inked.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/assets/img/category_01_notebook.webp" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Proident occaecat</h1>
                            <h3 class="h2">Aliquip ex ea commodo consequat</h3>
                            <p>
                                Arts Shop is an eCommerce Arts is a stationary shop that sells arts, gift articles,
                                greeting cards, dolls, files, hand bags, wallets, and as well some of the beauty
                                products, etc….
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/assets/img/category_01_notebook.webp" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Repr in voluptate</h1>
                            <h3 class="h2">Ullamco laboris nisi ut </h3>
                            <p>
                                Arts Shop is an eCommerce Arts is a stationary shop that sells arts, gift articles,
                                greeting cards, dolls, files, hand bags, wallets, and as well some of the beauty
                                products, etc….
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
       role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
       role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->
<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories List</h1>
        </div>
    </div>
    <div class="row">
        @foreach (var cateItem in categoriesAll)
        {
            <div class="col-sm-6 col-lg-3 p-5 p-sm-3 mt-3">
                <a asp-action="Shop" asp-route-id="@cateItem.Id" class="img-hover-zoom--brightness">
                    <div class="cate_image">
                        <img src="~/assets/img/@cateItem.Image" class="rounded-circle img-fluid border"
                             alt="@cateItem.Name" />
                    </div>
                </a>
                <h3 class="h3 text-center my-3">@cateItem.Name</h3>
            </div>
        }
    </div>
</section>
<!-- End Categories of The Month -->
<!-- Start Save Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-left py-3">
            <div class="m-3">
                <h1 class="h1">Save off</h1>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>
        <div class="carousel_list_product">
            @foreach (ProductDto item in productSaveOff)
            {
                var productItemSave = new OnlineShoppingCart.Models.ProductItem(item);
                <div class="p-3">
                    <partial name="_ProductItem" model="productItemSave" />
                </div>
            }
        </div>
    </div>
</section>
<!-- End Save Product -->
<!-- Start Best seller Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-left py-3">
            <div class="m-3">
                <h1 class="h1">Best seller</h1>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>
        <div class="carousel_list_product">
            @foreach (ProductDto item in Model)
            {
                var productItemSave = new OnlineShoppingCart.Models.ProductItem(item);
                <div class="p-3">
                    <partial name="_ProductItem" model="productItemSave" />
                </div>
            }
        </div>
    </div>
</section>
<!-- End Best saler Product -->
<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-left py-3">
            <div class="m-3">
                <h1 class="h1">Featured Product</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat commodi consequatur odio ipsam
                    rerum delectus quos! Natus culpa error dicta quasi consectetur ipsum, aliquam asperiores sunt, hic
                    qui libero maxime!
                </p>
            </div>
        </div>
        <div class="carousel_list_product">
            @foreach (ProductDto item in productFeatured)
            {
                var productItemSave = new OnlineShoppingCart.Models.ProductItem(item);
                <div class="p-3">
                    <partial name="_ProductItem" model="productItemSave" />
                </div>
            }
        </div>
    </div>
</section>
<!-- End Featured Product -->
@section SlidersCss {
    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick-theme.css">
}

@section Sliders {
    <!-- Start Slider Script -->
    <script type="text/javascript" src="~/assets/js/slick.min.js"></script>
    <script type="text/javascript">
        const $jq = jQuery.noConflict(); //If the error persists, try to use the noConflict mode of jQuery.
        $jq(document).on('ready', function () {
            $jq('.carousel_list_product').slick({
                infinite: true,
                arrows: true,
                slidesToShow: 4,
                slidesToScroll: 3,
                dots: true,
                autoplay: true,
                autoplaySpeed: 3500,
                responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 756,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }
                ]
            });
        });

    </script>
    <!-- End Slider Script -->
}