@{
    ViewData["Title"] = "Policy";
}

<section class="container py-5">
    <h1 class="text-center mb-3">@ViewData["Title"]</h1>
    <article>
        <h2>Cancellation Policy</h2>
        <hr />
        <p style="text-align: justify;text-justify: inter-word;">Once the order has been dispatched, it
            cannot be cancelled, however, you may apply for
            return once you have received the order. You will be responsible for paying for the cost of
            shipping to return your items. Shipping costs are non-refundable.</p>
    </article>
    <article>
        <h2>Returns & Refunds</h2>
        <hr />
        <div style="text-align: justify;text-justify: inter-word;">

            <p>
                We hope that you never have to visit this page but in the unfortunate event when you
                have to
                please keep the following things in mind. <br>
                You must raise a request to return your order within 7 days to be eligible for an
                exchange
                or refund. In case of failure to raise a complaint within 7 days, the return request
                will
                not be accepted. <br>
                To raise a return request, kindly visit <a href="">Returns & Exchanges</a>
                While raising a return request, keep the following handy for a smooth approval process.
                Your order ID and the Pin Code of your delivery address. <br>
                Photos/Videos of the items in the same condition that you received them. <br>
                Any product which has been used or hampered with will not be approved for return. <br>
                If your return is accepted, we’ll send you a return shipping label and instructions on
                how
                and where to send your package. Items sent back to us without first requesting a return
                will
                not be accepted.
                You can always contact us for assistance with returns at
                onlineshoppingcart.arts@gmail.com
            </p>

            <b>Damages and issues</b>

            <p>
                Please inspect your order upon reception and contact us immediately if the item is
                defective, damaged or if you receive the wrong item so that we can evaluate the issue
                and
                make it right. Also kindly click a photo or shoot a video of the same.
            </p>

            <b>Exceptions / non-returnable items</b>

            <p>
                Certain types of items cannot be returned, like perishable goods (such as food, flowers,
                or
                plants), and custom products (such as special orders or personalized items). We also do
                not
                accept returns for hazardous materials, flammable liquids, or gases. Please get in touch
                if
                you have questions or concerns about your specific item. <br>
                Unfortunately, we cannot accept returns on sale items or gift cards.
            </p>


            <b>Exchanges</b>

            The fastest way to ensure you get what you want is to return the item you have, and once the
            return is accepted, make a separate purchase for the new item.

            <b>Refunds</b>

            <p>
                We will notify you once we’ve received and inspected your return, and let you know if
                the
                refund was approved or not. Upon approval, we will take 15 to 18 business days to have
                the
                amount refunded through the same payment method. <br>
                In case of Cash-On-Delivery orders, upon approval of your return request, our team will
                contact you for your Bank Account/UPI details where the refund amount will be credited
                within 15 to 18 business days.
            </p>
        </div>
    </article>
</section>
