@model OnlineShoppingCart.Models.DTOs.ContactDto

@{
    ViewData["Title"] = "Details";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Compose</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a asp-area="ContactManage" asp-controller="Contact"
                                asp-action="Index">Contact</a></li>
                        <li class="breadcrumb-item active">Compose</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- /.col -->
            <div class="m-3">
                <a asp-area="ContactManage" asp-controller="Contact" asp-action="Index"
                    class="btn btn-primary mb-3">Back to Inbox</a>
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Read Message</h3>

                        <div class="card-tools">
                            <a href="#" class="btn btn-tool" title="Previous"><i class="fas fa-chevron-left"></i></a>
                            <a href="#" class="btn btn-tool" title="Next"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="mailbox-read-info">
                            <h5>Message Subject: @Model!.Subject</h5>
                            <h6>From: @Model!.AppUser!.Email
                                <span class="mailbox-read-time float-right">@Model.AppUser.CreateAt</span>
                            </h6>
                        </div>
                        <div class="mailbox-read-message">
                            @Model!.Content
                        </div>
                        <!-- /.mailbox-read-message -->
                    </div>
                    <!-- /.card-footer -->
                    <div class="card-footer">
                        <div class="float-right">
                            <a asp-action="Edit" asp-route-id="@Model?.Id" type="button" class="btn btn-default"><i
                                    class="fas fa-reply"></i>
                                Reply</a>
                        </div>
                        <a type="button" asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-default"><i
                                class="far fa-trash-alt"></i>
                            Delete</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>