@page "/access-denied.html"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<section class="container py-5">
    <header class="text-center">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </header>
</section>
