:root {
  --color-success: #59ab6e;
  --bg-primary: #1b6ec2;
  --bd-primary: #1861ac;
  --bg-login: #ccc;

  --text-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav-pills .nav-link {
  color: var(--color-success);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: var(--color-success);
  border-color: var(--color-success);
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: var(--color-success);
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: var(--color-success);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  background: #dfdfdf;
}


.cart-name-product {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipse;
  overflow: hidden;
  padding: 0 1rem;
  font-size: 1rem;
  color: black;
}

.cart-name-product:hover {
  cursor: pointer;
  color: var(--color-success);
}

.cart {
  width: 450px;
  height: 400px;
  overflow: scroll;
  z-index: 10000;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-icon i:hover {
  font-size: 2rem;
}


/* Brightness-zoom Container */
.img-hover-zoom--brightness img {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(90%);
  transform: scale(.9);
  opacity: .8;
}

/* The Transformation */
.img-hover-zoom--brightness:hover img {
  filter: brightness(100%);
  transform: scale(1);
  opacity: 1;
}

.img-hover-zoom--brightness:hover~h3 {
  color: var(--color-success);
}

.img-hover-zoom--brightness~h3 {
  position: relative;
}

.img-hover-zoom--brightness~h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: var(--color-success);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.img-hover-zoom--brightness:hover~h3::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* shop */

input[type="checkbox"] {
  accent-color: var(--color-success);
  appearance: none;
  background-color: none;
  width: 20px;
  height: 20px;
}

input[type="checkbox"]:checked {
  border: 2px solid var(--color-success);
  outline: 2px solid var(--color-success);
  background-color: var(--color-success);
}


input[type="checkbox"]:focus {
  outline: none;
}

/* checkout */
.checkout-container input[type="radio"] {
  accent-color: var(--color-success);
  appearance: none;
  background-color: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.checkout-container input[type='radio']:after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: 2px;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--color-success);
}

.checkout-container input[type="radio"]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: 2px;
  content: '\2713';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--color-success);
  background-color: #59ab6e;
}

select,
textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
  padding: 0.05rem 0.075rem;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.product-item:hover {
  outline: 2px solid var(--color-success);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*product details */
@import url("https: //use.fontawesome.com/releases/v5.13.0/js/all.js");

.comment-form-rating>span {
  display: block;
  float: left;
  margin-right: 7px;
}

.comment-form-rating~p {
  margin-bottom: 0 !important;
}

.comment-form-rating p.stars {
  display: inline-block;
  margin-bottom: 0 !important;
}

.comment-form-rating .stars input[type="radio"] {
  display: none;
}

.comment-form-rating .stars label {
  display: block;
  float: left;
  margin: 0;
  padding: 0 2px;
}

.comment-form-rating .stars label::before {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  color: #efce4a;
}

.comment-form-rating .stars input[type="radio"]:checked~label::before {
  color: #e6e6e6;
}

.comment-form-rating .stars:hover label::before {
  color: #efce4a;
}

.comment-form-rating .stars label:hover~label::before {
  color: #e6e6e6;
}

.comment-form-rating {
  margin-bottom: 15px;
}