:root {
  --color-success: #59ab6e;
  --bg-primary: #1b6ec2;
  --bd-primary: #1861ac;
  --bg-login: #ccc;

  --text-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav-pills .nav-link {
  color: var(--color-success);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: var(--color-success);
  border-color: var(--color-success);
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: var(--color-success);
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: var(--color-success);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  background: #dfdfdf;
}


.cart-name-product {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipse;
  overflow: hidden;
  padding: 0 1rem;
  font-size: 1rem;
  color: black;
}

.cart-name-product:hover {
  cursor: pointer;
  color: var(--color-success);
}

.cart {
  width: 450px;
  height: 400px;
  overflow: scroll;
  z-index: 10000;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-icon i:hover {
  font-size: 2rem;
}


/* Brightness-zoom Container */
.img-hover-zoom--brightness img {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(90%);
  transform: scale(.9);
  opacity: .8;
}

/* The Transformation */
.img-hover-zoom--brightness:hover img {
  filter: brightness(100%);
  transform: scale(1);
  opacity: 1;
}

.img-hover-zoom--brightness:hover~h3 {
  color: var(--color-success);
}

.img-hover-zoom--brightness~h3 {
  position: relative;
}

.img-hover-zoom--brightness~h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: var(--color-success);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.img-hover-zoom--brightness:hover~h3::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* checkout */

input[type=radio] {
  accent-color: var(--color-success);
  appearance: none;
  background-color: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

input[type='radio']:after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: 2px;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--color-success);
}

input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: 2px;
  content: '\2713';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--color-success);
  background-color: #59ab6e;
}

.table {
  width: 100%;
  table-layout: fixed;
}