@model OnlineShoppingCart.Models.DTOs.CategoryDto
@{
    ViewData["Title"] = "Edit Category";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@ViewData["Title"]</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="CategoryManage" asp-controller="Category"
                                asp-action="Index">Category list</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">

            <div class="card">
                <div class="card-header">
                    <strong class="h3 card-title">@ViewData["Title"]</strong>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                    <div class="col-md-10 mx-auto">
                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Image" />
                            <input type="hidden" asp-for="Slug" />
                            <input type="hidden" asp-for="CreateAt" />
                            <div class="form-group">
                                <label asp-for="Id" class="control-label"></label>
                                <input asp-for="Id" class="form-control" disabled />
                                <span asp-validation-for="Id" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="custom-file">
                                    <label asp-for="ImageFile" class="control-label"></label>
                                    <input asp-for="ImageFile" class="custom-file-input"
                                        accept="image/png, image/jpeg, image/webp" onchange="chooseFile(this)" />
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                                <img src="~/assets/img/@Model.Image" id="image" alt="@Model.Image"
                                    style="width:85px;height:85px;" />
                                @* <div id=image-grid></div> *@
                            </div>
                            <div class="form-group">
                                <label asp-for="ParentId" class="control-label"></label>
                                <select asp-for="ParentId" class="form-control-file"
                                    asp-items="ViewBag.ParentId"></select>
                                <span id="idCateErr" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" id="cateEdit" value="Save Change" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>

@{
    var summernote = new OnlineShoppingCart.Models.Summernote("#Description");
}

@section Scripts {
    <!-- Summernote -->
    <partial name="_Summernote" model="summernote" />

    <script>

        $(document).ready(function (e) {

            $("#ParentId").on("change", function () {
                const id = $("#Id").val();
                const idParent = $(this).val();
                if (id == idParent) {
                    document.getElementById("idCateErr").innerHTML = "Can't select this";
                    $("#cateEdit").attr("disabled", true);
                } else {
                    document.getElementById("idCateErr").innerHTML = "";
                    $("#cateEdit").attr("disabled", false);
                }
            });

        @* const imageGrid = document.getElementById('image-grid');
            $('#ImageFile').change(function (e) {
            const files = e.target.files;
            let reader = new FileReader();
            for (const file of files) {
            const img = document.createElement('img');
            imageGrid.appendChild(img);
            img.src = URL.createObjectURL(file);
            img.alt = file.name;
            img.style.width = '85px';
            img.style.height = '85px';
            }
            }); *@
                    });

        function chooseFile(inputFile) {
            if (inputFile.files && inputFile.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#image").attr("src", e.target.result);
                }
                reader.readAsDataURL(inputFile.files[0]);
            }
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
