@model OnlineShoppingCart.Models.DTOs.ProductDto

@{
    ViewData["Title"] = "Edit";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@ViewData["Title"]</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a asp-area="ProductManage" asp-controller="Product"
                                asp-action="Index">Product list</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">

            <div class="card">
                <div class="card-header">
                    <strong class="h3 card-title text-center">Edit Product</strong>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                    <div class="col-12">
                        <form asp-area="ProductManage" asp-controller="Product" asp-action="Edit"
                            enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row mb-3">
                                <div class="form-group mb-3 col-12 col-md-3">
                                    <label asp-for="Id" class="control-label"></label><span
                                        class="text-danger mr-3">(*)</span>
                                    <input asp-for="Id" class="form-control" disabled />
                                    <span asp-validation-for="Id" class="text-danger"></span>
                                    <span id="idCateErr" class="text-danger"></span>
                                </div>
                                <input type="hidden" asp-for="Slug" />
                                <div class="form-group mb-3 col-12 col-md-9">
                                    <label asp-for="Name" class="control-label"></label><span
                                        class="text-danger mr-3">(*)</span>
                                    <input asp-for="Name" class="form-control" placeholder="Product name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group mb-3 col-12 col-md-4">
                                    <label asp-for="CategoryId" class="control-label"></label><span
                                        class="text-danger mr-3">(*)</span>
                                    <select asp-for="CategoryId" class="form-control custom-select"
                                        asp-items="ViewBag.CategoryId"></select>
                                </div>
                                <div class="form-group mb-3 col-12 col-md-4">
                                    <label asp-for="Color" class="control-label"></label>
                                    <span class="text-danger mr-3">(*)</span>
                                    <input asp-for="Color" class="form-control" placeholder="Color" />
                                    <span asp-validation-for="Color" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3 col-12 col-md-4">
                                    <label asp-for="Size" class="control-label"></label><span
                                        class="text-danger mr-3">(*)</span>
                                    <input asp-for="Size" class="form-control" placeholder="Size" />
                                    <span asp-validation-for="Size" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group col-12">
                                <label asp-for="Description" class="control-label"></label><span
                                    class="text-danger mr-3">(*)</span>
                                <textarea asp-for="Description" class="form-control" row="5" col="10"
                                    placeholder="Description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12 row">
                                @if (Model.Images?.Count > 0)
                                {
                                    <div class="d-flex align-items-center">
                                        @foreach (var img in Model.Images)
                                        {
                                            <img src="~/assets/img/@img.ImageName" alt="@img.ImageName"
                                                style="width:85px;height:85px;" />
                                        }
                                    </div>
                                }
                                <div class="custom-file">
                                    <label asp-for="ImageFiles" class="control-label"></label><span
                                        class="text-danger mr-3">(*)</span>
                                    <input asp-for="ImageFiles" class="custom-file-input" value="@Model.ImageFiles"
                                        accept="image/png, image/jpeg, image/webp" />
                                </div>
                                <div id=image-grid></div>
                            </div>
                            <hr />
                            <figure class="mb-3 p-3 row">
                                <div class="form-group col-12 col-md-4">
                                    <label asp-for="Price" class="control-label"></label>
                                    <span class="text-danger mr-3">(*)</span>
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-4">
                                    <label asp-for="Promotion" class="control-label mr-3"></label>
                                    <input asp-for="Promotion" class="form-control" />
                                    <span asp-validation-for="Promotion" class="text-danger"></span>
                                </div>
                                <input type="hidden" asp-for="Quantity" value="0" />
                            </figure>

                            <div class="justify-content-end d-flex">
                                <input type="submit" id="" value="Update" class="btn btn-primary w-25" />
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a class="link-info" asp-area="ProductManage" asp-controller="Product" asp-action="Index">Back to
                        product list</a> |
                    <a class="link-info" asp-area="CategoryManage" asp-controller="Category" asp-action="Index">Back to
                        category list</a>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
@{
    var summernote = new OnlineShoppingCart.Models.Summernote("#Description")
            {
                Height = 300
            };
}

@section Scripts {
    <!-- Summernote -->
    <partial name="_Summernote" model="summernote" />


    <script>
        $(document).ready(function (e) {
            const imageGrid = document.getElementById('image-grid');
            $('#ImageFiles').change(function (e) {
                const files = e.target.files;
                let reader = new FileReader();
                for (const file of files) {
                    const img = document.createElement('img');
                    imageGrid.appendChild(img);
                    img.src = URL.createObjectURL(file);
                    img.alt = file.name;
                    img.style.width = '85px';
                    img.style.height = '85px';
                }
            });
        });

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
